{% extends 'base.html' %}

{% load static %}

{% block title %}
 | Home
{% endblock %}

{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-Carter-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-Carter-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-Carter-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-Carter-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_01.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Carter's</b> Sneaker Shop</h1>
                                <h3 class="h2">Hot and affordable Kicks</h3>
                                <p>
                                    Carter's Sneaker Shop is a dedicated online store which deals in authentic and affordable shoes.
                                    Discover new collection Shoes and sneakers right here at your convenience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="carousel-item">-->
<!--                <div class="container">-->
<!--                    <div class="row p-5">-->
<!--                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">-->
<!--                            <img class="img-fluid" src="{% static 'img/banner_img_02.jpg' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="col-lg-6 mb-0 d-flex align-items-center">-->
<!--                            <div class="text-align-left">-->
<!--                                <h1 class="h1">Proident occaecat</h1>-->
<!--                                <h3 class="h2">Aliquip ex ea commodo consequat</h3>-->
<!--                                <p>-->
<!--                                    You are permitted to use this Carter CSS template for your commercial websites.-->
<!--                                    You are <strong>not permitted</strong> to re-distribute the template ZIP file in any kind of template collection websites.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_03.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Clothes and accessories</h1>
                                <h3 class="h2">Authentic and Quality Clothing, Watches, etc</h3>
                                <p>
                                    We bring you a variety of high quality products to suit all your occasions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-Carter-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-Carter-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5" id="categoryOfTheMonth">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    Most purchased items of the month.
                </p>
            </div>
        </div>
        <div class="row">
            {% for item in categories %}
            <div class="col-12 col-md-4 p-5 mt-3 items">
                <a href="{% url 'shop' %}"><img src="{{item.image.url}}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{ item.name }}</h5>
                <p class="text-center"><a href="{% url 'shop' %}" class="btn btn-success">Go Shop</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto mb-3">
                    <h1 class="h1">Featured Products</h1>
                    <p>
                        Special items just for you.
                    </p>
                </div>
            </div>
            <div class="row featured">
                {% for featured in products %}
                <div class="col-12 col-md-4 mb-3">
                    <div class="card mb-5">
                        <a href="{% url 'listing' featured.id %}">
                            <img src="{{ featured.main_img.url }}" class="card-img-top" alt="{{featured.name}}">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="{% if featured.rating >= 1 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                    <i class="{% if featured.rating >= 2 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                    <i class="{% if featured.rating >= 3 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                    <i class="{% if featured.rating >= 4 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                    <i class="{% if featured.rating >= 5 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>

                                </li>
                                <li class="text-muted text-right">${{ featured.price }}</li>
                            </ul>
                            <a href="{% url 'listing' featured.id %}" class="h2 text-decoration-none text-dark">{{ featured.brand }}</a>
                            <p class="card-text mb-2">
                                {{ featured.name }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

    <!-- Start Recommended Products -->
{#    <section class="container">#}
{#        <div class="recommended mb-5">#}
{#            <div class="header text-center py-5">#}
{#                <h1 class="title" style="font-weight: 100;">Recommendations</h1>#}
{#                <p>Products tailored for you</p>#}
{#            </div>#}
{#            <div class="content row">#}
{#            #}
{#                <div class="item col-sm-2 mb-5">#}
{#                  <a href="#" class="text-decoration-none">#}
{#                    <div class="card shadow">#}
{#                        <img src="{% static 'img/reebok-logo.png' %}" alt="item title" class="card-img-top">#}
{#                      <div class="card-body">#}
{#                          <h4 class="card-title text-success">Item Brand</h4>#}
{#                          <p class="text-dark card-text">Item Name</p>#}
{#                          <div class="text-muted card-text">$Price</div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </a>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- End of Recommended -->

{% endblock %}