{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %} - Products{% endblock %}

{% block content %}

<!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4"><strong>Categories</strong></h1>
                <ul class="list-unstyled templatemo-accordion">
                    {% for category in category_type %}
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{% url 'shop_item' category %}">
                                {{ category | title }}
                                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul class="collapse show list-unstyled pl-3">
                                {% for i in categories %}
                                    {% if i.type == category %}
                                        <li><a class="text-decoration-none" href="{% url 'shop_item' i.name %}">{{ i.name | title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop' %}">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'male_shop' %}">Men's</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="{% url 'female_shop' %}">Women's</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if listings %}
                        {% for item in listings %}
                            <div class="col-md-4">
                                <div class="card mb-4 product-wap rounded-0">
                                    <div class="card rounded-0">
                                        <img class="card-img rounded-0 img-fluid" src="{{ item.main_img.url }}" style="object-fit: cover; object-position: center; height: 400px">
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">
                                                <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a></li>
                                                <li><a class="btn btn-success text-white mt-2" href="{% url 'listing' item.id %}"><i class="far fa-eye"></i></a></li>
                                                <li><a class="btn btn-success text-white mt-2" href="#"><i class="fas fa-cart-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a href="{% url 'listing' item.id %}" class="h3 text-decoration-none">{{ item.name | upper}}</a>
                                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                            <li>{{ item.size }}</li>
                                            <li class="pt-2">
                                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                                            <li>
                                                <i class="{% if item.rating >= 1 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                                <i class="{% if item.rating >= 2 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                                <i class="{% if item.rating >= 3 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                                <i class="{% if item.rating >= 4 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                                <i class="{% if item.rating >= 5 %}text-warning{% else %}text-muted{% endif %} fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <p class="text-center mb-0">${{ item.price | intcomma }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-4 mt-5">
                            <h3>No items were found.</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            {% if listings.has_other_pages %}
                <ul class="pagination pagination-lg justify-content-end">
                    {% if listings.has_previous %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ listings.start_index }}" tabindex="-1">
                                &laquo;
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ listings.previous_page_number }}" tabindex="-1">
                                {{ listings.previous_page_number }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark active">{{ listings.number }}</a>
                    </li>
                    {% if listings.has_next %}
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ listings.next_page_number }}">{{ listings.next_page_number }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ listings.end_index }}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <!-- End Content -->

   <!-- Start Brands -->
    {% include 'partials/_brands.html' %}
    <!--End Brands-->
{% endblock %}