/*

Custom Css for Carter's
 */

.related {
    width: auto !important;
    margin: auto;
}
.related img {
    object-fit: cover;
    object-position: center;
    min-width: 200px !important;
    width: auto!important;
    height: 300px;
}

.recommended .content .card {
    transition: .5s ease;
    border: 5px solid red;
}
.recommended .card:hover {
    padding: 25px!important;
}
.recommended .card img {
    object-fit: cover;
    object-position: center;
}

.lightbox-img .row .product-sub-img {
    margin: auto;
}