/*

Custom Css for Carter's
 */

.related {
    width: auto !important;
    margin: auto;
}
.related img {
    object-fit: cover;
    object-position: center;
    min-width: 200px !important;
    width: auto!important;
    height: 300px;
}

.recommended .content .card {
    transition: .5s ease;
    border: 5px solid red;
}
.recommended .card:hover {
    padding: 25px!important;
}
.recommended .card img {
    object-fit: cover;
    object-position: center;
}

.lightbox-img .row .product-sub-img {
    margin: auto;
}

.featured .card {
    opacity: .9;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.featured .card img{
    object-position: center;
    object-fit: cover;
    height: 500px !important;
}

#categoryOfTheMonth .items {
    height: 500px;
}
#categoryOfTheMonth .items img {
    height: 80%;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}